<mat-tab-group>
  <mat-tab label="Basic Information">
    <mat-card>
      <mat-card-header>
        <mat-card-title>View Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-h3 section">Basic Information</div>
        <app-standard-display-field [field]="{ name: 'name' }" [formData]="customer"></app-standard-display-field>
        <app-standard-display-field [field]="{ name: 'email' }" [formData]="customer"></app-standard-display-field>
        <app-standard-display-field [field]="{ name: 'registrationNumber' }" [formData]="customer">
        </app-standard-display-field>
        <app-standard-display-field [field]="{ name: 'address' }" [formData]="customer"></app-standard-display-field>
        <div *ngIf="customer?.personInCharged">
          <div class="mat-h3 section">Person In Charged Details</div>
          <div class="person-in-charged" *ngFor="let person of customer.personInCharged; let i = index">
            <div class="mat-body-strong">Person {{ i + 1 }}</div>
            <app-standard-display-field [field]="{ name: 'name', displayName: 'Name' }" [formData]="person">
            </app-standard-display-field>
            <app-standard-display-field [field]="{ name: 'email', displayName: 'Email' }" [formData]="person">
            </app-standard-display-field>
            <app-standard-display-field [field]="{ name: 'jobTitle', displayName: 'Job Title' }" [formData]="person">
            </app-standard-display-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Invoices">
    <mat-card *ngFor="let invoice of invoices">
      <mat-card-content>
        <app-standard-display-field [field]="displayField" [formData]="invoice"
          *ngFor="let displayField of invoiceDisplayFields"></app-standard-display-field>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of invoice.lines">
              <td>{{ line.name }}</td>
              <td>{{ line.unit }}</td>
              <td>{{ line.unitPrice | currency: 'MYR ' }}</td>
              <td>{{ line.quantity }}</td>
              <td>{{ (line.quantity * line.unitPrice) | currency: 'MYR ' }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
    <!-- <pre>{{ invoices | json }}</pre> -->
  </mat-tab>
</mat-tab-group>