<span class="mat-display-1">View Event Plan <span *ngIf="eventPlan && eventPlan.code">({{ eventPlan.code }})</span>
</span>

<mat-tab-group>
  <!-- Tab1: Basis Info -->
  <mat-tab label="Basis Info">
    <div class="tab-body">
      <div class="view-field">
        <label class="mat-body-strong">Name</label>
        <div class="mat-body">{{ eventPlan.name }}</div>
      </div>
      <div class="view-field">
        <label class="mat-body-strong">Customer</label>
        <div class="mat-body">{{ eventPlan.customer?.name }}</div>
      </div>
      <div class="view-field">
        <label class="mat-body-strong">Date/Time</label>
        <div class="mat-body">{{ eventPlan.dateFrom | date: 'dd-MM-yyyy' }} -
          {{ eventPlan.dateTo | date: 'dd-MM-yyyy' }}</div>
        <div class="mat-body">{{ eventPlan.timeFrom | date: 'HH:mm a' }} - {{ eventPlan.timeTo | date: 'HH:mm a' }}
        </div>
      </div>
      <div class="view-field">
        <label class="mat-body-strong">Venue</label>
        <div class="mat-body">{{ eventPlan.venue }}</div>
      </div>
      <div class="view-field">
        <label class="mat-body-strong">Status</label>
        <div class="mat-body">{{ eventPlan.status }}</div>
      </div>
      <div class="view-field">
        <label class="mat-body-strong">Markup Rate (%)</label>
        <div class="mat-body">{{ (eventPlan.markupRate || 0) | number: '1.0-2' }}%</div>
      </div>
      <div class="view-field">
        <label class="mat-body-strong">Remarks</label>
        <div class="mat-body">{{ eventPlan.remarks }}</div>
      </div>
      <div class="action-group">
        <button class="btn-sm" routerLink="/event-plan/edit/{{eventPlan._id}}" mat-raised-button
          color="primary">Edit</button>
      </div>
    </div>
  </mat-tab>
  <!-- Tab2: Resources -->
  <mat-tab label="Resources">
    <div class="tab-body">
      <!-- Section1: Services -->
      <div class="mat-subheading-1">Services
        <button mat-icon-button color="primary" (click)="addItemToEvent('providerService', 'services')">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="mat-body" *ngIf="eventPlan.services && eventPlan.services.length === 0">
        No service yet.
      </div>
      <ng-container *ngIf="eventPlan.services && eventPlan.services.length > 0">
        <div *ngFor="let service of eventPlan.services">
          <div class="mat-body">
            {{ service?.name }} x {{ service?.quantity }}
            {{ service?.unit }}
            ({{ service?.unitPrice * service?.quantity | currency: 'RM' }})
          </div>
          <div class="mat-small">{{ service.remarks }}</div>
        </div>
      </ng-container>
      <!-- Section2: Facilities -->
      <div class="mat-subheading-1">Facilities
        <button mat-icon-button color="primary" (click)="addItemToEvent('providerFacility', 'facilities')">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="mat-body" *ngIf="eventPlan.facilities && eventPlan.facilities.length === 0">
        No facility yet.
      </div>
      <ng-container *ngIf="eventPlan.facilities && eventPlan.facilities.length > 0">
        <div *ngFor="let facility of eventPlan.facilities">
          <div class="mat-body">
            {{ facility?.name }} x {{ facility?.quantity }}
            {{ facility?.unit }}
            ({{ facility?.unitPrice * facility?.quantity | currency: 'RM' }})
          </div>
          <div class="mat-small">{{ facility.remarks }}</div>
        </div>
      </ng-container>
      <!-- Section3: Stock Items -->
      <div class="mat-subheading-1">Stock Items
        <button mat-icon-button color="primary" (click)="addItemToEvent('stockItem', 'stockItems')">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="mat-body" *ngIf="eventPlan.stockItems && eventPlan.stockItems.length === 0">
        No stock item yet.
      </div>
      <ng-container *ngIf="eventPlan.stockItems && eventPlan.stockItems.length > 0">
        <div *ngFor="let stockItem of eventPlan.stockItems">
          <div class="mat-body">
            {{ stockItem?.name }} x {{ stockItem?.quantity }}
            {{ stockItem?.unit }}
            ({{ stockItem?.unitPrice * stockItem?.quantity | currency: 'RM' }})
          </div>
          <div class="mat-small">{{ stockItem.remarks }}</div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
  <!-- Tab3: Processes -->
  <mat-tab label="Processes">
    <div class="tab-body">
      <div class="mat-subheading-1">Processes
        <button mat-icon-button class="process-btn-group" color="primary" (click)="addEventProcessToEvent()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <mat-tab-group>
        <mat-tab *ngFor="let status of eventPlanStatus;let i = index" [label]="status">
          <div class="mat-body" *ngIf="eventPlan.processes && eventPlan.processes.length === 0; else eventProcesses">
            No process yet.
          </div>
          <ng-template #eventProcesses>
            <div class="btn-group" fxLayout="row">
              <button mat-stroked-button class="btn-sm" type="button" [ngClass]="{'active': !selectProcessStatus}"
                (click)="filterProcesses()">All</button>
              <button mat-stroked-button class="btn-sm" type="button"
                [ngClass]="{'active': selectProcessStatus === 'Open'}" (click)="filterProcesses('Open')">Open</button>
              <button mat-stroked-button class="btn-sm" type="button"
                [ngClass]="{'active': selectProcessStatus === 'In Progress'}"
                (click)="filterProcesses('In Progress')">In
                Progress</button>
              <button mat-stroked-button class="btn-sm" type="button"
                [ngClass]="{'active': selectProcessStatus === 'Done'}" (click)="filterProcesses('Done')">Done</button>
              <button mat-stroked-button class="btn-sm" type="button"
                [ngClass]="{'active': selectProcessStatus === 'Verified'}"
                (click)="filterProcesses('Verified')">Verified</button>
              <button mat-stroked-button class="btn-sm" type="button"
                [ngClass]="{'active': selectProcessStatus === 'Closed'}"
                (click)="filterProcesses('Closed')">Closed</button>
              <button mat-stroked-button class="btn-sm" type="button"
                [ngClass]="{'active': selectProcessStatus === 'Cancelled'}"
                (click)="filterProcesses('Cancelled')">Cancelled</button>
            </div>
            <!-- <pre>{{ filteredEventProcesses | json }}</pre> -->
            <div class="process-item"
              *ngFor="let process of filteredEventProcesses | processesFilter: status; let i = index; let l = count">
              <mat-card class="mat-elevation-z4">
                <div *ngIf="!selectProcessStatus">
                  <button mat-button (click)="onMoveDownPosition(process, i)" *ngIf="i !== l-1">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                  <button mat-button (click)="onMoveUpPosition(process, i)" *ngIf="i !== 0">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                </div>
                <div class="mat-body-strong">
                  {{ getDuration(process) }} <i>{{ process.type }}</i>
                </div>
                <pre fxLayout="column">
                    <span>Status: {{ process.status }}</span>
                    <div class="btn-group" fxLayout="row">
                        <button mat-stroked-button class="btn-sm" type="button" (click)="changeStatus(process, 'In Progress')" *ngIf="process.status === 'Open'">Proceed</button>
                        <button mat-stroked-button class="btn-sm" type="button" (click)="changeStatus(process, 'Done')" *ngIf="process.status === 'In Progress'">Done</button>
                        <button mat-stroked-button class="btn-sm" type="button" (click)="changeStatus(process, 'Verified')" *ngIf="process.status === 'Done'">Verify</button>
                        <button mat-stroked-button class="btn-sm" type="button" (click)="changeStatus(process, 'Closed')" *ngIf="process.status === 'Done' || process.status === 'Verified'">Close</button>
                        <button mat-stroked-button class="btn-sm" type="button" (click)="changeStatus(process, 'Cancelled')" *ngIf="process.status === 'Open'">Cancel</button>
                    </div>
                  </pre>
                <div class="mat-body-strong">{{ process.type }}:{{ process.name }}</div>
                <div class="mat-small">{{ process?.provider?.name }}</div>
                <div class="mat-body">{{ process.remarks }}</div>
              </mat-card>
            </div>
            <div class="mat-body" *ngIf="(filteredEventProcesses | processesFilter: status).length === 0">
              <p>No process yet.</p>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-tab>
  <!-- Tab4: Form -->
  <mat-tab label="Form">
    <div class="tab-body">
      <div [ngTemplateOutlet]="eventPlan.registrationForm ? showFormInfo : noFormMessage"></div>
      <ng-template #noFormMessage>
        <p>No form yet, <button mat-button class="btn-link" color="primary"
            (click)="configForm(eventPlan)">click</button> here config form</p>
      </ng-template>
      <ng-template #showFormInfo>
        <div class="mat-title">Preview Form
          <button mat-icon-button class="process-btn-group" color="primary" (click)="configForm(eventPlan)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <div class="action-group">
          <a class="btn-sm" [routerLink]="['/register/' + eventPlan._id]" target="_blank" mat-raised-button>
            <mat-icon>public</mat-icon> Publish
          </a>
          <button class="btn-sm" mat-raised-button (click)="copyRegistrationFormLink(eventPlan._id)"
            value="click to copy">
            <mat-icon>link</mat-icon> Copy Link
          </button>
          <button class="btn-sm" mat-raised-button (click)="sendRegistrationFormLink(eventPlan._id)"
            value="click to send">
            <mat-icon>send</mat-icon> Send Link
          </button>
        </div>

        <div class="form">
          <h4>Basic Information</h4>
          <div *ngFor="let setting of (eventPlan.registrationForm.settings | toArray | filterOptions: true: 'value')">
            <app-standard-form-field [field]="{ name: setting.key, type: 'string' }"></app-standard-form-field>
          </div>
          <h4 *ngIf="eventPlan.registrationForm.fields.length > 0">Detail Information</h4>
          <div *ngFor="let field of eventPlan.registrationForm.fields">
            <app-standard-form-field [field]="field"></app-standard-form-field>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-tab>
  <mat-tab label="Attendees">
    <div class="tab-body">
      <button mat-button class="process-btn-group" color="primary" (click)="addAttendee()">
        <mat-icon>add</mat-icon> Attendees
      </button>
      <div class="filter-wrapper">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter keyword" type="text" [(ngModel)]="attendeeQueryModel.searchText"
            (keyup.enter)="filterAttendees(eventPlan.attendees, attendeeQueryModel)">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="attendeeQueryModel.type">
            <mat-option value="{{ option }}" *ngFor="let option of attendeeQueryModel.typeOptions">
              {{option | titleDisplay }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" class="btn-sm" (click)="filterAttendees(eventPlan.attendees, attendeeQueryModel)">Search</button>
      </div>
      <div class="action-group">
        <button mat-raised-button class="btn-sm" color="primary" (click)="groupAttendees()"
          *ngIf="hasAttendeeIsSelected(eventPlan.attendees)">
          Group Attendees
        </button>
        <button mat-raised-button class="btn-end" color="primary" (click)="getAttendees()">
          <mat-icon>refresh</mat-icon> Refresh
        </button>
      </div>
      <div [ngTemplateOutlet]="eventPlan.attendees && eventPlan.attendees.length > 0 ? attendeeList : noFoundAttendees">
      </div>
      <ng-template #attendeeList>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Code</th>
              <th *ngFor="let setting of eventPlan.registrationForm.settings | toArray | filterOptions: true: 'value'">
                {{ setting.key | titleDisplay }}</th>
              <th *ngFor="let field of eventPlan.registrationForm.fields">{{ field.displayName }}</th>
              <th>Group</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attendee of attendeeQueryModel.list">
              <td>
                <mat-checkbox [(ngModel)]="attendee.isSelected"></mat-checkbox>
              </td>
              <td>{{ attendee.code }}</td>
              <td *ngFor="let setting of eventPlan.registrationForm.settings | toArray | filterOptions: true: 'value'">
                {{ attendee[setting.key] }}</td>
              <td *ngFor="let field of eventPlan.registrationForm.fields">
                <div *ngIf="attendee.formData && attendee.formData[field.name]">{{ attendee.formData[field.name] }}
                </div>
              </td>
              <td>{{ attendee.group }}</td>
              <td>
                <button mat-raised-button class="btn-sm" color="primary" (click)="editAttendee(attendee)">
                  <mat-icon>edit</mat-icon> Edit
                </button>
                <button mat-button class="btn-sm" (click)="removeAttendee(attendee)">
                  <mat-icon>delete</mat-icon> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <pre>{{ eventPlan.attendees | json }}</pre> -->
      </ng-template>
      <ng-template #noFoundAttendees>
        <p>No attendee yet.</p>
      </ng-template>
    </div>
  </mat-tab>
  <!-- Tab for Invoice (to Customer) -->
  <mat-tab label="Invoice">
    
  </mat-tab>
  <!-- Tab for Related Supplier Invoices -->
  <mat-tab label="Supplier Invoice"></mat-tab>
  <!-- Tab for Related Payment Vouchers -->
  <mat-tab label="Payment Voucher"></mat-tab>
  <!-- Tab6: Cost & Profit -->
  <mat-tab label="Cost & Profit">
    <div class="tab-body info-group">
      <div class="mat-title">Costs Summary</div>
      <mat-divider></mat-divider>
      <div class="info-item">
        <div class="mat-body">Services:</div>
        <div class="mat-body">{{ eventPlan.services | getTotal: 'unitPrice': 'quantity' | currency: 'RM ' }}</div>
      </div>
      <div class="info-item">
        <div class="mat-body">Facilities:</div>
        <div class="mat-body">{{ eventPlan.facilities | getTotal: 'unitPrice': 'quantity' | currency: 'RM ' }}</div>
      </div>
      <div class="info-item">
        <div class="mat-body">Stock Items:</div>
        <div class="mat-body">{{ eventPlan.stockItems | getTotal: 'unitPrice': 'quantity' | currency: 'RM ' }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-item">
        <div class="mat-body-strong">Total Costs:</div>
        <div class="mat-body-strong">
          {{ ((eventPlan.services | getTotal: 'unitPrice': 'quantity') + (eventPlan.facilities | getTotal: 'unitPrice': 'quantity') + (eventPlan.stockItems | getTotal: 'unitPrice': 'quantity')) | currency: 'RM ' }}
        </div>
      </div>
      <div class="info-item">
        <div class="mat-body-strong">Total Profit ({{ eventPlan.markupRate | number: '1.0-2' }}%):</div>
        <div class="mat-body-strong">
          {{ ((eventPlan.services | getTotal: 'unitPrice': 'quantity') + (eventPlan.facilities | getTotal: 'unitPrice': 'quantity') + (eventPlan.stockItems | getTotal: 'unitPrice': 'quantity')) * eventPlan.markupRate / 100 | currency: 'RM ' }}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-item">
        <div class="mat-body-strong">Total Price:</div>
        <div class="mat-body-strong">
          {{ ((eventPlan.services | getTotal: 'unitPrice': 'quantity') + (eventPlan.facilities | getTotal: 'unitPrice': 'quantity') + (eventPlan.stockItems | getTotal: 'unitPrice': 'quantity')) * ((eventPlan.markupRate / 100) + 1) | currency: 'RM ' }}
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- <pre>{{ eventPlan | json }}</pre> -->