.tab-body {
  padding: 10px;
}

.view-field:nth-of-type(n + 2) {
  margin-top: 10px;
}

.view-field .mat-body {
  white-space: pre;
}

.btn-sm {
  line-height: 25px;
  font-size: 12px;
}

.btn-sm mat-icon {
  height: 12px;
  font-size: 16px;
  line-height: 10px;
}

.action-group button {
  margin: 0 5px;
}

button.active {
  background-color: #595959;
  color: #ffffff;
}

.info-group {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.info-group > * {
  margin-top: 10px;
  display: flex;
}

.info-group > * > *:first-of-type {
  flex-basis: 150px;
}

.btn-group {
  margin-top: 10px;
}

.btn-group button {
  margin-right: 10px;
}

.process-item {
  margin: 5px;
}

.btn-link {
  padding: 5px;
  min-width: auto;
  line-height: 15px;
}

.form {
  max-width: 50%;
}

.table.table-bordered {
  border: 1px #eee solid;
}

.table td,
.table th {
  text-align: center;
  border-bottom: 1px #eee solid;
  padding: 10px 0;
}

.action-group {
  display: flex;
}

.action-group .btn-end {
  margin-left: auto;
}

.filter-wrapper > * {
  margin-right: 2px;
}
