<mat-toolbar>
  <span class="logo" routerLink="/">Ng-Node App</span>

  <ng-container *ngIf="isAuth">
    <a mat-button [routerLink]="route.url" routerLinkActive="mat-primary" mat-button *ngFor="let route of routes">{{ route.name }}</a>
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-container>

  <ng-container *ngIf="!isAuth">
    <a routerLink="/auth/login" mat-button *ngIf="!isAuth">Login</a>
    <a routerLink="/auth/register" mat-button *ngIf="!isAuth">Sign Up</a>
  </ng-container>
</mat-toolbar>
