.main-content {
  padding: 10px 15px;
  height: calc(100% - 85px);
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-right: 10px;
}

mat-sidenav-content {
  padding: 0 10px;
}

.mat-list-item.mat-primary {
  color: #3f51b5;
}

mat-sidenav-container:not(.is-auth) mat-sidenav {
  display: none;
}

mat-sidenav-container:not(.is-auth) mat-sidenav-content {
  margin-left: 0 !important;
}
