<mat-card class="card-md">
  <mat-card-header>
    <mat-card-title>New {{ title }}</mat-card-title>
    <mat-card-subtitle>Please fill-in all the required fields marked with asterisks (*).</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm" id="form" (ngSubmit)="form.valid && onSubmit()">

      <app-standard-form-field [field]="field" [(formData)]="formData" *ngFor="let field of fields"></app-standard-form-field>

      <!-- <ng-container [ngSwitch]="field.type" *ngFor="let field of fields">
        <mat-form-field *ngSwitchCase="'string'">
          <input matInput [(ngModel)]="formData[field.name]" [name]="field.name" [placeholder]="field.displayName" [required]="field.required" />
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'number'">
          <input matInput [(ngModel)]="formData[field.name]" [name]="field.name" [placeholder]="field.displayName" [required]="field.required" />
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'enum'">
            <mat-label>{{ field.displayName }}</mat-label>
            <mat-select [(ngModel)]="formData[field.name]" [name]="field.name" [required]="field.required">
              <mat-option *ngFor="let enum of field.enumList" [value]="enum.value">{{ enum.value }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngSwitchCase="'image'">
          <div class="image-picker">
              <button mat-stroked-button type="button" (click)="filePicker.click()"><mat-icon>photo</mat-icon> {{ field.displayName }}</button>
              <input type="file" class="input-file" #filePicker (change)="onImagePicked($event, field.name)">
            </div>

            <div class="image-preview" *ngIf="(imagePreview[field.name] !== '' && imagePreview[field.name]) || formData[field.name]">
              <img [src]="imagePreview[field.name]" *ngIf="imagePreview[field.name] !== '' && imagePreview[field.name]">
              <img [src]="formData[field.name]" *ngIf="formData[field.name] && !imagePreview[field.name]">
            </div>
        </div>
      </ng-container> -->

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/' + domainName + '/list']" type="button"><mat-icon>arrow_back_ios</mat-icon> Cancel</button>
    <button mat-raised-button color="primary" type="submit" form="form"><mat-icon>done</mat-icon> Submit</button>
  </mat-card-actions>
</mat-card>
