<mat-card class="card-md">
  <mat-card-header>
    <mat-card-title>View Attendee</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="action-group">
      <button mat-raised-button type="button" (click)="functions.onBack('/attendee/list')">
        <mat-icon>arrow_back_ios</mat-icon> Back
      </button>
      <a [routerLink]="['/attendee/edit/' + formData?._id]" mat-raised-button>
        <mat-icon>edit</mat-icon> Edit
      </a>
    </div>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="bg-primary">
        <mat-panel-title>Attendee Information</mat-panel-title>
      </mat-expansion-panel-header>

      <h4>Basic Information</h4>

      <div class="view-field">
        <h5>Name</h5>
        <p>{{ formData?.name }}</p>
      </div>
      <div class="view-field">
        <h5>Gender</h5>
        <p>{{ formData?.gender }}</p>
      </div>
      <div class="view-field">
        <h5>Identity Number</h5>
        <p>{{ formData?.identityNumber }}</p>
      </div>
      <div class="view-field">
        <h5>Email</h5>
        <p>{{ formData?.email }}</p>
      </div>
      <div class="view-field">
        <h5>Phone Number</h5>
        <p>{{ formData?.phoneNumber }}</p>
      </div>
      <div class="view-field">
        <h5>Organization</h5>
        <p>{{ formData?.organization }}</p>
      </div>
      <div class="view-field">
        <h5>Address</h5>
        <p>{{ formData?.address }}</p>
      </div>

      <div *ngIf="formData?.registrationForm.fields.length > 0">
        <h4>Detail Information</h4>
        <div *ngFor="let field of formData?.registrationForm.fields">

          <div class="view-field">
            <h5>{{ field.displayName }}</h5>
            <p>{{ formData.formData[field.name] }}</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-raised-button type="button" (click)="onCancel('/' + domainName + '/list')">
              <mat-icon>arrow_back_ios</mat-icon> Cancel
            </button>
            <button mat-raised-button color="primary" type="submit" form="form">
              <mat-icon>done</mat-icon> Submit
            </button> -->
  </mat-card-actions>
</mat-card>